@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

div canvas{
    width: 1000px;
    height: 800px;
    padding: 50px 0;
    margin: 0 auto;
}
.chart2{
    width: 800px;
    height: 600px;
    padding: 50px 0;
    margin: 0 auto;
}

body{
    background-color: #f7f2f2;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
h3{
    text-align: center;
    margin: 10px 0;
    font-size: 22px;
}